*{
    box-sizing: border-box;
    font-family: 'segoe UI', sans-serif;
}

body{
    background: #e0e5ec;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container{
    background: #e0e5ec;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 10px 10px 30px #bec3e9, -10px -10px 30px #ffffff;
    width: 300px;
    transition: height 0.3s ease;
}

.tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}